.selector {
	position: absolute;
	bottom: 10vh;
	left: 0;
	z-index: 9;
	padding: 0 10vw;
	width: 100%;
	display: grid;
	grid-template-columns: 18rem 1fr;
	gap: 2rem;
}

.selector > button > span {
	font-size: 3rem;
}

.selector > button > svg {
	height: 3rem;
	width: 3rem;
}

.optionAsset {
	--color: var(--colors-surface-1);
	--outline: rgba(0, 0, 0, 0);
	height: 16rem;
	width: 16rem;
	border-radius: 0.5rem;
	border: 1px solid var(--color);
	outline: 2px solid var(--outline);
	overflow: hidden;
	cursor: pointer;
}

.optionAsset:hover {
	--outline: var(--green);
}

.active {
	--color: var(--green);
	--outline: var(--green);
}

.carousel {
	width: 100%;
	padding: 3px;
}
