@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue,
		sans-serif;
}

@supports (font-variation-settings: normal) {
	html,
	body {
		font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
			Helvetica Neue, sans-serif;
	}
}

html {
	font-size: 10px;
	background: #efefef;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	font-kerning: normal;
	font-variant-ligatures: contextual common-ligatures;
}

:root {
	/* brand foundation */
	--cb: hsl(350, 100%, 50%);
	--ok: #29b5a8;
	--green: #4cc;

	--p-h: 200;
	--p-s: 100%;
	--p-l: 50%;

	--enter: cubic-bezier(0, 0.5, 0.5, 1);
	--move: cubic-bezier(0, 0.5, 0.5, 1);
	--exit: cubic-bezier(0.5, 0, 0, 1);
}

:root {
	color-scheme: light;
	--colors-text-1: hsl(var(--p-h) var(--p-s) 10%);
	--colors-text-2: hsl(var(--p-h) 15% 0%);
	--colors-text-3: hsl(var(--p-h) 15% 85%);
	--colors-surface-1: hsl(var(--p-h) 25% 90%);
	--colors-surface-2: hsl(var(--p-h) 20% 99%);
	--colors-surface-3: hsl(var(--p-h) 20% 92%);

	--colors-surface-2: hsl(0, 0%, 100%);

	--colors-loContrast: hsl(var(--p-h) 15% 0%);
	--colors-hiContrast: hsl(var(--p-h) 15% 85%);
}

html {
	background: var(--colors-surface);
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
	-webkit-user-drag: element;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scene_container {
	position: relative;
	top: 0;
	height: 100vh;
	width: 100vw;
}
