html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue,
		sans-serif;
}

@supports (font-variation-settings: normal) {
	html,
	body {
		font-family: 'Inter var', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
			Helvetica Neue, sans-serif;
	}
}

html {
	font-size: 10px;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	font-kerning: normal;
	font-variant-ligatures: contextual common-ligatures;
}

:root {
	/* brand foundation */
	--b-h: 225;
	--b-s: 80%;
	--b-l: 10%;
	--cb: hsl(350, 100%, 50%);
	--ok: #29b5a8;
	--green: #4cc;

	--p-h: 142;
	--p-s: 88%;
	--p-l: 55%;

	--colors-primary-surface: hsl(var(--p-h), var(--p-s), var(--p-l));
	--colors-primary-text: hsl(var(--p-h), var(--p-s), 25%);

	/* light */
	--b-light: hsl(var(--b-h) var(--b-s) var(--b-l));
	--colors-text--light: #15162c;
	--colors-text-1-light: hsl(var(--b-h) 0% 25%);
	--colors-text-2-light: hsl(var(--b-h) 0% 50%);
	--colors-text-3-light: hsl(var(--b-h) 40% 80%);

	--colors-surface-light: hsl(var(--b-h) 0% 94%);
	--colors-surface-light1: hsl(var(--b-h) 0% 98%);
	--colors-surface-light2: hsl(var(--b-h) 0% 97%);
	--colors-surface-light3: hsl(var(--b-h) 20% 80%);
	--colors-surface-light4: hsl(var(--b-h) 20% 75%);
	--colors-surface-light5: hsl(var(--b-h) 0% 70%);
	--colors-light-loContrast: hsl(var(--b-h) 20% 92%);
	--colors-surface-light12: hsl(var(--b-h) 20% 0%);

	--colors-surface-shadow-light: var(--b-h) 20% 20%;
	--shadow-strength-light: 0.02;
	--colors-light-shadow: 0deg 0% 45%;

	/* dark */
	--b-dark: hsl(var(--b-h) calc(var(--b-s) / 2) calc(var(--b-l) / 1.5));
	--colors-text--dark: #15162c;
	--colors-text-1-dark: hsl(var(--b-h) 15% 85%);
	--colors-text-2-dark: hsl(var(--b-h) 5% 65%);
	--colors-text-3-dark: hsl(var(--b-h) 10% 40%);

	--colors-surface-dark: hsl(var(--b-h) 15% 12%);
	--colors-surface-dark-1: hsl(var(--b-h) 15% 18%);
	--colors-surface-dark-2: hsl(var(--b-h) 15% 22%);
	--colors-surface-dark-3: hsl(var(--b-h) 15% 25%);
	--colors-surface-dark-4: hsl(var(--b-h) 15% 30%);
	--colors-surface-dark-5: hsl(0 5% 70%);
	--colors-surface-dark-12: hsl(var(--b-h) 15% 80%);
	--colors-dark-loContrast: hsl(var(--b-h) 13.5% 13.5%);
	--colors-dark-shadow: 0deg 0% 1.5%;
	--colors-white: 254, 254, 254;

	--colors-surface-shadow-dark: var(--b-h) 50% 3%;
	--shadow-strength-dark: 0.8;

	--size-header: 24rem;

	--colors-blacka1: rgba(0, 0, 0, 0.012);
	--colors-blacka2: rgba(0, 0, 0, 0.027);
	--colors-blacka3: rgba(0, 0, 0, 0.047);
	--colors-blacka4: rgba(0, 0, 0, 0.071);
	--colors-blacka5: rgba(0, 0, 0, 0.09);
	--colors-blacka6: rgba(0, 0, 0, 0.114);
	--colors-blacka7: rgba(0, 0, 0, 0.141);
	--colors-blacka8: rgba(0, 0, 0, 0.22);
	--colors-blacka9: rgba(0, 0, 0, 0.439);
	--colors-blacka10: rgba(0, 0, 0, 0.478);
	--colors-blacka11: rgba(0, 0, 0, 0.565);
	--colors-blacka12: rgba(0, 0, 0, 0.91);
	--colors-scale6: #dfe3e6;
}

:root {
	color-scheme: light;

	/* set defaults */
	--brand: var(--b-light);
	--colors-text: var(--colors-text--light);
	--colors-text-1: var(--colors-text-1-light);
	--colors-text-2: var(--colors-text-2-light);
	--colors-text-3: var(--colors-text-3-light);
	--colors-surface: var(--colors-surface-light);
	--colors-surface1: var(--colors-surface-light1);
	--colors-surface2: var(--colors-surface-light2);
	--colors-surface3: var(--colors-surface-light3);
	--colors-surface4: var(--colors-surface-light4);
	--colors-surface5: var(--colors-surface-light5);
	--colors-surface12: var(--colors-surface-light12);
	--colors-shadow: var(--colors-light-shadow);
	--colors-hiContrast: #15162c;
	--colors-loContrast: var(--colors-light-loContrast);
	--colors-brandContrast: #15162c;

	--colors-white: 254, 254, 254;
	--separator: rgba(0, 0, 0, 0.1);
	--colors-surface-shadow: var(--colors-surface-shadow-light);
	--shadow-strength: var(--shadow-strength-light);

	--enter: cubic-bezier(0, 0.5, 0.5, 1);
	--move: cubic-bezier(0, 0.5, 0.5, 1);
	--exit: cubic-bezier(0.5, 0, 0, 1);
}

html {
	background: var(--colors-surface);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--brand: var(--b-dark);
		--colors-text: var(--colors-text--dark);
		--colors-text-1: var(--colors-text-1-dark);
		--colors-text-2: var(--colors-text-2-dark);
		--colors-text-3: var(--colors-text-3-dark);
		--colors-surface: var(--colors-surface-dark);
		--colors-surface1: var(--colors-surface-dark-1);
		--colors-surface2: var(--colors-surface-dark-2);
		--colors-surface3: var(--colors-surface-dark-3);
		--colors-surface4: var(--colors-surface-dark-4);
		--colors-surface5: var(--colors-surface-dark-5);
		--colors-surface12: var(--colors-surface-dark-12);
		--colors-hiContrast: rgba(var(--colors-white), 1);
		--colors-loContrast: var(--colors-dark-loContrast);
		--colors-brandContrast: var(--colors-surface-light);
		--colors-shadow: var(--colors-dark-shadow);
		--separator: var(--colors-surface-dark);
		--colors-surface-shadow: var(--colors-surface-shadow-dark);
		--shadow-strength: var(--shadow-strength-dark);
		--colors-brandContrast: #f0f0f0;
	}
}

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
	-webkit-user-drag: element;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scene_container {
	position: relative;
	top: 0;
	height: 100vh;
	width: 100vw;
}
